#imageSlider {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	margin: 0;
}

#imageSlider > .fl-module-html,
#imageSlider .swiper {
	height: 100%;
	width: 100%;
}

div#imageSlider .slider-wrap img {
	opacity: 0.65;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.fl-builder-edit #imageSlider {
	display: none;
}

.custom-pagination .swiper-pagination-bullet {
	background-color: #ccc;
	opacity: 1 !important;
	z-index: 10;
	position: relative;
	transition: all 0.3s ease;
	width: 8px;
	height: 8px;
}

.custom-pagination .swiper-pagination-bullet:hover {
	background-color: var(--fl-global-primary);
	scale: 1;
}

.custom-pagination .swiper-pagination-bullet-active {
	background-color: #ccc;
	width: 50px;
	border-radius: 8px;
}
